body {
  background-color: #273443;
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
}

a{
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

h6 {
  padding: 0;
  margin: 0;
}

input {
  width: 80%;
  height: 50px;
  border: 1px solid lavender;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 4px;
  font-size: 15px;
  margin-left: 2px;
}

.inputform input {
  display: inline-block;
}

.nav {
  display: flex;
  margin-bottom: 10px;
  margin-right:10px;
  margin-top: 0px;
  max-width: 30%;
  margin-left: 2px;
}

.nav li {
 list-style-type: none;
 margin-right: 2px;
 font-size: 15px;
 background-color: snow;
 color: black;
 padding: 10px;
 font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
}


.nav li .active {
  color: #29a6dc;
  z-index: -1;
}

.inputField {
  margin-bottom: 10px;
  margin-top: 0px;
  width: 80%;
}

.inputField #formInput:active{
  text-transform: lowercase;
}

.error-login-register {
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 0 1pt 1pt black;
  display: inline-block;
  font-size: 10px;
  padding: 10px;
  color: snow;
  background: #FF9494;
}

.button {
  width: 80%;
  height: 50px;
  box-shadow: 10px brown;
  border: solid;
  border-radius: 5px;
  background-color: skyblue;
}

.button:enabled {
  transform: translateZ(1px);
  border: solid 0.5px;
  border-color: lavender;
  font-size: 15px;
}

.button:disabled {
  transform: translateZ(-1);
  border: none;
}

.landing-page-container {
  margin: auto;
  padding: 100px;
}

.landing-img-container {
  float: left;
  width: 40%;
}

.post-it-img {
  height: 20%;
  width: 100%;
  background-image: url('./resources/postIt.png');
  background-repeat: no-repeat;
}

.mail-box-img {
  height: 50%;
  width: 100%;
  background-image: url('./resources/mailbox.png');
  background-repeat: no-repeat;
}

.login-register-container {
  float: right;
  width: 60%;
  margin: auto;
}

.main-view {
  margin-left: -2px;
  padding: 0;
}

.header {
  height: 6%;
  margin: 0;
}

.greeting {
  width: 20%;
  position: absolute;
  margin: 0;
  padding: 5px;
  left: 10px;
  color: white;
}

.greeting h3 {
  padding: 0;
  margin: 0;
}

.sign-out {
  position: absolute;
  right: 10px;
  color: white;
}

.sign-out-button {
  border: none;
  background: none;
  outline: none;
  color: white;
}

.group-list-nav {
  float: left;
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.add-group {
  height: 8%;
  width: 100%;
  border-bottom: 1px solid #314050;
}

.add-group-form {
  background: #273443;
  margin: 0;
  padding: 0;
}

.new-group-input {
  background: #273443;
  border: none;
}

.new-group-input[type=text]:focus {
  color: whitesmoke;
  border: none;
  outline: none;
}

.add-group-button {
  border: none;
  background:  #273443;
}

.add-group-button:enabled {
  color:  #578ec9;
}

.group-list-body {
  height: 90%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  border-left: 1px solid #314050;
}

.group-list-item {
  height: 66px;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #314050;
  color: whitesmoke;
}

.group-list-item p {
  width: 80%;
  display: inline-block;
  margin: 0;
}

.notification {
  width: 10%;
  display: inline-block;
  padding: 7px;
  border: none;
}

.groups-icon {
  margin: 10px;
}

.group-list a.active div{
  background: #314050;
  box-shadow: 2px 1px 2px 2px #23313e;
}

.group-list a.active div .notification, 
.group-list div .notification:hover {
  box-shadow: none;
}
.group-list div:hover {
  background: #314050;
  box-shadow: 1px 1px 2px 2px #23313e;
}

.group-details {
  float: right;
  width: 70%;
  height: 93%;
  background: white;
}

.welcome-view {
  text-align: center;
  padding: 50px;
  font-size: 50px;
}

.group-item-top {
  height: 8%;
}

.group-body-groupname {
  width: 30%;
  margin: auto;
  text-align: center;
}

.add-user {
  position: absolute;
  top: 9%;
  right: 20px;
}

.add-user-button {
  background: none;
  border: none;
  outline: none;
}

.user-list {
  float: right;
}

.user-list select {
  background: #578ec9;
  color: white;
  border-radius: 8px 0px 0px 8px;
  z-index: 2;
}

.user-list select option {
  width: 200px;
  height: 40px;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}

.user-list select option:hover {
  background: ghostwhite;
  color: black;
}

.user-list select option:checked {
  display: none;
}

.group-item-bottom {
  height: 92%;
}

.message-body {
  position: relative;
  height: 100%;
  overflow: auto;
}

.message {
  padding: 15px;
}

.sender-initials {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: white;
  text-transform: uppercase;
  padding-top: 7px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  position: absolute;
  border: 1px solid #578ec9;
  border-radius: 50%;
  box-shadow: 1px 1px 10px black;
}

.sender-initials-alternate {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: #578ec9;
  color: white;
  text-transform: uppercase;
  padding-top: 7px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  position: absolute;
  right: 2px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px black;
}

.message-view {
  background: #578ec9;
  display: inline-block;
  border-radius: 5px;
  color: #e4f0f5;
  padding: 15px;
  margin-left: 50px;
  box-shadow: 1px 1px 5px black;
}

.message-view-alternate {
  background: white;
  max-width: 50%;
  display: block;
  padding: 15px;
  margin-left: 42%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
}

.message-reader ul {
  display: flex;
  font-size: x-small;
  margin-top: 0;
  margin-left: 50px;
  color: #578ec9;
}

.message-reader li {
  margin-left: 2px;
}

.message-reader li:after {
  content: ',';
}

.message-reader li:last-child:after {
  content: none;
}

.message-reader-alternate ul {
  display: flex;
  font-size: x-small;
  margin-top: 0;
  margin-left: 42%;
  color: #578ec9;
}

.message-reader-alternate li {
  margin-left: 2px;
}

.message-reader-alternate li:after {
  content: ',';
}

.message-reader-alternate li:last-child:after {
  content: none;
}

.send-message {
  position: fixed;
  bottom: 0px;
  margin: 0;
  padding: 0;
  width: 69.5%;
  height: 50px;
}

.send-message input {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 50px;
  margin: 0;
}

.send-message form input[type=text]:focus {
  outline: none;
}

.send-message form button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  height: 100%;
  margin-right: 20px;
  border: none;
  background: none;
}


.send-message form button:enabled {
  color: #578ec9;
}

.send-message form .normal {
  background: white;
  width: 40px;
  height: 90%;
  border-right: 1px solid lavender;
  border-radius: 0px 0px 0px 4px;
  position: absolute;
  left: 1px;
  bottom: 3px;
  z-index: 1;
}

.send-message form .normal:enabled {
  box-shadow: none;
}

.send-message form .normal:focus {
  outline: none;
}

.google-signin {
  width: 20%;
  margin-top: 0;
  margin-left: 150px;
}

.or-text {
  display: inline-block;
  height: 10px;
  margin-left: 100px;
  margin-top: 0;
  color: snow;
}


.forgot-password-button {
  position: fixed;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  color: black;
  font-size: 15px;
  margin-left: 180px;
  margin-top: 5px;
}

.forgot-password-button:hover {
  color: snow;
}

.reset-form {
  width: 60%;
  margin: auto;
}

.reset-form p {
  color: snow;
  margin-right: 150px;
  text-align: center;
}

.password-sent-message {
  text-align: center;
  margin-right: 150px;
  font-size: 20px;
}

.login-button {
  border: none;
  background: none;
  color: snow;
  padding: 0;
  font-size: 20px;
}





