body {
  background-color: purple;
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
}

a{
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

h6 {
  padding: 0;
  margin: 0;
}

input {
  width: 80%;
  height: 50px;
  border: 1px solid lavender;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 4px;
  font-size: 15px;
  margin-left: 2px;
}

.inputform input {
  display: block;
}

.nav {
  display: flex;
  margin-bottom: 10px;
  margin-right:10px;
  max-width: 30%;
  margin-left: 2px;
}

.nav li {
 list-style-type: none;
 margin-right: 2px;
 font-size: 15px;
 background-color: snow;
 color: black;
 padding: 10px;
 font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
}


.nav li .active {
  color: #29a6dc;
  z-index: -1;
}

.inputField {
  margin-bottom: 10px;
  margin-top: 0px;
  width: 80%;
}

.inputField #formInput {
  width: 100%;
  height: 50px;
  border: solid;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  text-transform: lowercase;
  color: #29a6dc;
}

.inputField #formInput:active{
  text-transform: lowercase;
}

.button {
  width: 80%;
  height: 50px;
  box-shadow: 10px brown;
  border: solid;
  border-radius: 5px;
  background-color: skyblue;
}

.button:enabled {
  transform: translateZ(1px);
  border: solid 0.5px;
  border-color: lavender;
  font-size: 15px;
}

.button:disabled {
  transform: translateZ(-1);
  border: none;
}

.landing-page-container {
  margin: auto;
  padding: 100px;
}

.landing-img-container {
  float: left;
  width: 40%;
}

.post-it-img {
  height: 20%;
  width: 100%;
  background-image: url('./resources/postIt.png');
  background-repeat: no-repeat;
}

.mail-box-img {
  height: 50%;
  width: 100%;
  background-image: url('./resources/mailbox.png');
  background-repeat: no-repeat;
}

.login-register-container {
  float: right;
  width: 60%;
  margin: auto;
}

.addGroup {
  margin: auto;
  width: 70%;
}

.group-list {
  width: 70%;
  margin: auto;
  padding: 0;
  text-decoration: none;
}

.group-item {
  height: 500px;
  max-height: 500px;
  border: 1px solid snow;
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
  background: red;
  transition: width 1s;
}

.group-item:hover {
  box-shadow: 3px 5px 3px black;
  height: 600px;
}

.group-item:first-child{
  margin-top: 50px;
}

.group-item-top {
  position: relative;
  height: 40px;
  margin: 2px;
  padding: 5px;
  box-shadow: 3px black;
}

.group-item-top li {
  padding: 3px;
  color: white;
}

.add-user {
  position: absolute;
  top: 3px;
  right: 3px;
}

.user-list {
  float: right;
  margin-top: 25px;
}

.user-list select {
  background: purple;
  color: white;
  z-index: 2;
}

.user-list select option {
  width: 200px;
  height: 40px;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}

.user-list select option:hover {
  background: black;
  color: white;
}

.user-list select option:checked{
  display: none;
}

.group-item-top li {
  display: inline;
}

.add-user-button {
  background: red;
  border-radius: 3px;
}

.message-body {
  height: 395px;
  overflow: auto;
}

.send-message {
  position: absolute;
  bottom: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 54px;
}

.send-message input {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 85%;
  height: 100%;
  border: none;
  border-radius: 0px 0px 0px 5px;
  margin: 0;
}

.send-message form button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 15%;
  height: 100%;
  margin: 0;
  border: none;
  border-radius: 0px 0px 5px 0px;
}

.send-message form button:enabled {
  border: 1px solid snow;
  box-shadow: 1px 1px 2px 1px #888888;
}

.addGroupForm {
  width: 100%;
  height: 40px;
}

.addGroupForm .add-group-button {
  float: right;
  width: 15%;
  height: 100%;
  background-color: lavender;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.add-group-button:enabled {
  border: 2px solid snow;
}

#newGroup {
  width: 79%;
  height: 100%;
  border: solid;
  border-color: lavender;
  color: purple;
  padding-left: 2px;
  font-size: 13px;
}

.message-list-items {
  border: 2px solid lavender;
  background-color: lavender;
}

.message-view {
  border-top: 1px solid snow;
  border-bottom: 1px solid snow;
  border-collapse: collapse;
}

.google-signin {
  width: 20%;
  margin-left: 150px;
}

.or-text {
  display: inline-block;
  margin-left: 90px;
  color: snow;
}


.forgot-password-button {
  border: none;
  background: none;
  color: black;
  font-size: 15px;
  margin-left: 180px;
  margin-top: 10px;
}

.forgot-password-button:hover {
  color: snow;
}

.reset-form {
  width: 60%;
  margin: auto;
}

.reset-form p {
  color: snow;
  margin-right: 150px;
  text-align: center;
}

.password-sent-message {
  text-align: center;
  margin-right: 150px;
  font-size: 20px;
}

.login-button {
  border: none;
  background: none;
  color: snow;
  padding: 0;
  font-size: 20px;
}





